{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/formations/passBis.css') }}"> #}
{% endblock %}

{% block title %} {{ parent() }} nos locaux {% endblock %}

{% block body %}

    {% set motPage1 = "Proximité pass las prépa" %}
    {% include 'formations/entete.html.twig' %}

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 60px; color: var(--blue-color)">
            <h1>Nos locaux</h1>
        </div>
    </div>

    <div style="background-color: var(--blue-color-o)">
        <div>
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
                <div style="font-size: 30px; color: var(--blue-color)">
                    <h2>Montpellier Occitanie</h2>
                </div>
            </div>
            <div style="padding: 1% 0">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 0 10%; font-size: 20px">
                    <div>
                        <div>Pour la préparation à la PACES, nous avons des locaux à proximité de la nouvelle faculté au 80 rue Claude Nougaro (l'accès e fait par l'avenue du doyen Turshini) et au 501 avenue Occitanie (lieux des inscriptions - au dessus de l'IUT, a 500m de la nouvelle fac - secrétariat), permettant d'accueillir sereinement les étudiants dans un cadre privilégié.</div>
                        <div>Le secrétariat se situe au 501 avenue d'occitanie, et est ouvert de 9h à 17h u lundi au vendredi</div>
                    </div>
                    <div>
                        <img src="{{ asset('/img/png/villa3.png') }}" alt="" style="width: 80%">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
                <div style="font-size: 30px; color: var(--blue-color)">
                    <h2>Montpellier Centre-ville</h2>
                </div>
            </div>
            <div style="padding: 1% 0">
                <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 0 10%; font-size: 20px">
                    <div>
                        <img src="{{ asset('/img/png/villa3.png') }}" alt="" style="width: 80%">
                    </div>
                    <div>
                        <div>
                            <p style="color: var(--blue-color); font-size: 24px">Terminale Santé et S'P Zéro</p>
                        </div>
                        <div>Pour la préparation à la PACES, nous avons des locaux à proximité de la nouvelle faculté au 80 rue Claude Nougaro (l'accès e fait par l'avenue du doyen Turshini) et au 501 avenue Occitanie (lieux des inscriptions - au dessus de l'IUT, a 500m de la nouvelle fac - secrétariat), permettant d'accueillir sereinement les étudiants dans un cadre privilégié.</div>
                        <div>Le secrétariat se situe au 501 avenue d'occitanie, et est ouvert de 9h à 17h u lundi au vendredi</div>
                    </div>
                </div>
            </div>
        </div>

    </div>



{% endblock %}