{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Prépa PASS/LAS, S'P Zéro, Première et Terminale Santé{% endblock %}

{% block stylesheets %} {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/default/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/carousel.css') }}">
{% endblock %}

{# {% block javascripts %} {{ parent() }} <script defer src="{{ asset('js/default/index.js') }}"></script> {% endblock %} #}

{% block body %}

    <div class="slider">
        <div class="slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <div class="slide firstSlide">
                <img src="{{ asset('img/jpg/Visuel-etudiants-accueil-compres.jpg') }}" alt="">
            </div>
            <div class="slide">
                <img src="{{ asset('img/png/Carousel Profs.jpg') }}" alt="">
            </div>
            <div class="slide">
                <img src="{{ asset('img/png/Carousel Locaux.jpg') }}" alt="">
            </div>
            <div class="slide">
                <img src="{{ asset('img/jpg/Visuel-etudiants-accueil-compres.jpg') }}" alt="">
            </div>

            <!--<div class="navigation-manual">
                <label for="radio1" class="manual-btn auto-btn1"></label>
                <label for="radio2" class="manual-btn auto-btn2"></label>
                <label for="radio3" class="manual-btn auto-btn3"></label>
                <label for="radio4" class="manual-btn auto-btn4"></label>
            </div>-->
        </div>
    </div>
    <!--<script type="text/javascript">
        let count = 1;

        function carousel(){
            document.getElementById("radio" + count).checked = true;
            count++;
            if(count > 4 ) count = 1;
        }

        function updateInterval(radio){
            clearInterval(move);
            count = radio;
            move = setInterval(carousel, 5000);
        }

        document.getElementById("radio1").addEventListener("click", function (){
            updateInterval(1)
        });
        document.getElementById("radio2").addEventListener("click", function (){
            updateInterval(2)
        });
        document.getElementById("radio3").addEventListener("click", function (){
            updateInterval(3)
        });
        document.getElementById("radio4").addEventListener("click", function (){
            updateInterval(4)
        });

        carousel();
        let move = setInterval(carousel, 5000);

    </script>-->

    <!--<div id="banniere" class="banniere">
        <div class="banniereImg"></div>
        <div class="contenuBaniere"></div>
        <div class="titreAccueil"><h1><span><strong>Sup'Perform</strong></span><span>préparation</span><br><span>aux études de Santé</span></h1></div>
        <div class="motAccueil">Médecine</div>
        <div class="motAccueil">Pharmacie</div>
        <div class="motAccueil">Sage-femme</div>
        <div class="motAccueil">Dentaire</div>
        <div class="motAccueil">Kiné</div>
        <div class="btnResAccueil" id="btnResAccueil"><a href=""><strong>NOS RÉSULTATS</strong></a></div>
    </div>-->
    <div id="pageAccueil" class="page">
        <div class="phrasePresentation" id="phrasePresentation">Depuis sa création en 2007, Sup'Perform s'est demarquée des structures existantes en proposant, en plus d'un enseignement rigoureux, un suivi et un soutien sans faille aux étudiants. Nous nous sommes aujourd'hui imposés comme la référence en matière de préparation aux études de Santé.</div>
        <!--<div class="phrasePresentation" id="phraseResultat" style="display: none"><strong>Plus d'1 étudiant sur 2 admis en deuxième année de Médecine et de Dentaire est passé par Sup'Perform</strong></div>-->
        <div class="formationAccueil">
            <div class="carte">
                <div><h2>PRÉPA <br><strong>PASS</strong></h2></div>
                <div class="motFormations">
                    <a href="{{ path('formations', {'nomFormation':'prepa-pass'}) }}" title="En savoir plus - Prépa PASS">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="carte">
                <div><h2>PRÉPA<br><strong>L.AS</strong></h2></div>
                <div class="motFormations">
                    <a href="{{ path('formations', {'nomFormation':'prepa-las'}) }}" title="En savoir plus - Prépa L.AS">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="carte">
                <div><h2>ANNÉE<br><strong>S'P Zéro</strong></h2></div>
                <div class="motFormations">
                    <a href="{{ path('formations', {'nomFormation':'sp-zero'}) }}" title="En savoir plus - S'P Zéro">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="carte">
                <div><h2>PREMIÈRE<br><strong>SANTÉ</strong></h2></div>
                <div class="motFormations">
                    <a href="{{ path('formations', {'nomFormation':'premiere-sante'}) }}" title="En savoir plus - Première Santé">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="carte">
                <div><h2>TERMINALE<br><strong>SANTÉ</strong></h2></div>
                <div class="motFormations">
                    <a href="{{ path('formations', {'nomFormation':'terminale-sante'}) }}" title="En savoir plus - Terminale Santé">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <!--<div class="motFiligrane">Médecine Pharmacie <br> Dentaire Sage-femme Kiné</div>-->
        </div>

        <div class="equipeAccueil fond-bleu">
            <div class="flexOne" style="display: flex; justify-content: center; align-items: center">
                <img style="width: 80%" src="{{ asset('img/jpg/anthoclasse3.jpg') }}" alt="">
            </div>
            <div class="flexOne">
                <div style="font-size: 28px;">
                    <p>Depuis plus de 15 ans dans la préparation aux études médicales, Sup'Perform propose un suivi adapté par petits groupes.</p>
                </div>
                <div style="font-size: 22px; text-align: justify; padding-right: 2%">
                    <p>
                        Sup'Perform a su s'adapter aux réformes successives en proposant des solutions toujours innovantes pour accompagner aux mieux les étudiants dans leur stratégie : la Terminale Santé (depuis 2012), la SP'Zero (depuis 2011) et une collaboration avec plusieurs lycées d'Occitanie (depuis 2017). La structure s'est ainsi développée en Occitanie autour d'une équipe enseignante de grande qualité, en gardant ses valeurs fondatrices et son indépendance pédagogique.
                    </p>
                </div>
            </div>
        </div>
        <div style="margin: 2% 0">
            <div class="actuAccueil">
                <div class="motActu flexOne">
                    <div style="transform: rotateZ(-90deg); font-size: 2.5vw; margin-right: -20%"> <h2>ACTUS</h2></div>
            </div>
            <div class="flexTen">
                <fieldset>
                    <div class="triangleCode"></div>
                    <div>a</div>
                    <div>a</div>
                    <div>a</div>
                    <div>a</div>
                    <div>a</div>
                    <div>a</div>
                    <div>a</div>
                </fieldset>
            </div>
            <div class="flexOne"></div>
        </div>
    </div>
    {# <div class="avis fond-bleu">
        <div style="text-align: center" ><h2>Derniers avis de nos étudiants</h2></div>
        <div>

            {% for avis in dernierAvis %}
            <div>
                <div>{{ avis.auteurAvis }}</div>
                <div>{{ avis.noteAvis }}</div>
                <div>{{ avis.contenuAvis }}</div>
                <div></div>
            </div>
            {% endfor %}
        </div>
    </div> #}
        <div style="background-color: var(--blue-color-o)">
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
                <div style="font-size: 30px; color: var(--blue-color)">
                    <h2>Dernier avis de nos étudiants</h2>
                </div>
            </div>
            <div style="padding: 1% 0">
                <div style="margin: 0 15%; font-size: 18px">
                    <div style="text-align: justify">
                        <div>
                            <div class="slider">
                                <div class="slides2">
                                    <input type="radio" name="radio-btn" id="radioAvis1">
                                    <input type="radio" name="radio-btn" id="radioAvis2">

                                    {% set first = true %}

                                    {% for avis in dernierAvis %}

                                        {% if first == true %}
                                            <div class="slide2 firstSlide">
                                                <div>{{ avis.auteurAvis }}</div>
                                                <div>{{ avis.noteAvis }}</div>
                                                <div>{{ avis.contenuAvis }}</div>
                                                <div></div>
                                            </div>
                                            {% set first = false %}
                                        {% else %}
                                            <div class="slide2">
                                                <div>{{ avis.auteurAvis }}</div>
                                                <div>{{ avis.noteAvis }}</div>
                                                <div>{{ avis.contenuAvis }}</div>
                                                <div></div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="navigation-manual2">
                                        <label for="radioAvis1" class="manual-btn2-left auto-btn1"></label>
                                        <label for="radioAvis2" class="manual-btn2-right auto-btn2"></label>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                    let count = 1;

                                    function carousel(){
                                        document.getElementById("radioAvis" + count).checked = true;
                                        count++;
                                        if(count > 4 ) count = 1;
                                    }

                                    /**
                                     *
                                     * @param {Number} radio
                                     */
                                    function updateInterval(radio){
                                        clearInterval(move);
                                        count = radio;
                                        move = setInterval(carousel, 5000);
                                    }

                                    document.getElementById("radioAvis1").addEventListener("click", function (){
                                        updateInterval(1)
                                    });
                                    document.getElementById("radioAvis2").addEventListener("click", function (){
                                        updateInterval(2)
                                    });
                                    document.getElementById("radioAvis3").addEventListener("click", function (){
                                        updateInterval(3)
                                    });
                                    document.getElementById("radioAvis4").addEventListener("click", function (){
                                        updateInterval(4)
                                    });

                                    carousel();
                                    let move = setInterval(carousel, 5000);

                                </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
