{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/formations/passBis.css') }}"> #}
{% endblock %}

{% block title %} {{ parent() }} une equipe engagée{% endblock %}

{% block body %}

    {% set motPage1 = "encadrement" %}
    {% set motPage2 = "soutien" %}
    {% set motPage3 = "conseil" %}
    {% include 'formations/entete.html.twig' %}

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 60px; color: var(--blue-color)">
            <h1>L'engagement Sup'Perform</h1>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px; text-align: justify">
            <div> <p>Structure fondée en 2007 par des ingénieurs ayant repris leurs études en médecine, Sup’Perform s’est développée en restant indépendante et fidèle aux valeurs qui ont permis son succès et la réussite de ses étudiants. </p></div>
            <div> <p>Nous nous sommes ainsi démarqué des structures existantes en proposant en plus d’un enseignement de qualité, un suivi et un soutien sans faille aux étudiants. La réforme des études médicales, marquée par la suppression du redoublement, renforce cette tendance et valide les choix mis en place depuis maintenant 10 ans avec un suivi des étudiants dès le lycée. </p> </div>
        </div>
    </div>
    <div style="background-color: var(--blue-color-o)">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
            <div style="font-size: 30px; color: var(--blue-color)">
                <h2>Suivi et Encadrement</h2>
            </div>
        </div>
        <div style="padding: 1% 0">
            <div style="margin: 0 15%; font-size: 18px">
                <div style="text-align: justify"> <p>L'organisation qui a permis la réussite de nos étudiants depuis plus de 15 ans en Occitanie est toujours respectée. Ainsi, chaque enseignant suit des petits groupes d'étudiants (20 étudiants ou moins par classes) pendant tout le semestre et reste joignable par mail en dehors des séances pour répondre aux questions. Depuis 2018, un ENT (Espace Numérique de Travail) via Moodle a été mis en place pour améliorer le suivi avec des supports de cours améliorés (fiches, cours, QCMs mais aussi vidéos). </p></div>
            </div>
        </div>
    </div>
    <div>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
            <div style="font-size: 30px; color: var(--blue-color)">
                <h2>Former plutôt que formater</h2>
            </div>
        </div>
        <div style="padding: 1% 0">
            <div style="margin: 0 15%; font-size: 18px">
                <div style="text-align: justify"> <p>Dans chaque filière et jusqu'aux examens de première année, notre équipe pédagogique travaille avec les étudiants avec 3 priorités : </p></div>
                <div>
                    <ul>
                        <li>acquisition de bonnes méthodes de travail</li>
                        <li>acquisition et consolidation des bases scientifiques, la compréhension est à la base de l'apprentissage</li>
                        <li>évaluations régulières pour permettre à l'étudiant de faire le point sur sa progression</li>
                    </ul>
                </div>
                <div><p>Avec la <a href="{{ path('reforme') }}">réforme PASS/L.AS</a>, nous avons également développé le pôle orientation que nous avons intégré dans notre programme de Terminale Santé.</p></div>
            </div>
        </div>
    </div>
    <div style="background-color: var(--blue-color-o)">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
            <div style="font-size: 30px; color: var(--blue-color)">
                <h2>Nos enseignants, notre force</h2>
            </div>
        </div>
        <div style="padding: 1% 0">
            <div style="margin: 0 15%; font-size: 18px">
                <div>Le PASS et la L.AS constituent une année difficile pour lesquelles il faut être bien préparé et encadré. </div>
                <div style="text-align: justify"> <a href="{{ path('equipe') }}">L'équipe enseignante</a> de Sup'Perform allie une connaissance parfaite du concours de médecine avec une formation de haut niveau en science fondamentale. Cette double compétence est un atout unique pour nos étudiants.</div>
            </div>
        </div>
    </div>




{% endblock %}