
<div class="entetePage">
    {% block enteteFormation %}
        {% if bgImg is defined %}
            <img src="{{ bgImg }}" alt="Image de couverture">
        {% else %}
            <img src="{{ asset('img/accueil/carousel/carousel1.jpg') }}" alt="Image de couverture">
        {% endif %}
        <div style="position: absolute; bottom: 0; right: 0; width: 10%">
            <img src="{{ asset('img/logos/Picto-REUSSISSEZ-MIEUX.png') }}" alt="" style="width: 100%">
        </div>
        <div class="motCle">
            <div><h3>{{ motPage1 }}</h3></div>
            {% if motPage2 is defined %}
                <div><h3>{{ motPage2 }}</h3></div>
            {% endif %}
            {% if motPage3 is defined %}
                <div><h3>{{ motPage3 }}</h3></div>
            {% endif %}
        </div>
    {% endblock %}
</div>