{% extends 'base.html.twig' %}

{% block stylesheets %} {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/formations/passBis.css') }}"> #}
{% endblock %}

{% block title %} {{ parent() }} l'année S'P Zéro{% endblock %}

{% block body %}

    {% set motPage1 = "accompagmement" %}
    {% set motPage2 = "bienveillance" %}
    {% include 'formations/entete.html.twig' %}

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 60px; color: var(--blue-color)">
            <h1>L'année S'P Zéro</h1>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <p>
                    Depuis 2010, nous avons mis en place une année spécifique dite "Année S'PZéro". Ainsi, plutôt que de s'inscrire directement après le bac en première année, il est possible de se laisser une année de transition, afin d'acquérir à la fois une méthode de travail efficace et les connaissances nécessaires à l'admission dans la filière d'intérêt.
                </p>
                <p>
                    L'expérience acquise nous montre qu'il est parfois compliqué pour un étudiant de trouver en quelques semaines une méthode de travail efficace et d'assimiler l'ensemble des enseignements dispensés à la faculté. Les étudiants ne sont pas habitués au rythme de travail imposé et certains décrochent et perdent toute confiance en leurs capacités.
                </p>
                <p>
                    Par ailleurs, <a href="{{ path('reforme') }}">la réforme de la PACES</a> interdit désormais le redoublement et renforce la nécessité d'être dans le rythme dès le départ. La S'P Zéro peut s'avérer être une solution adéquate, notamment si les tests (en <a href="">Terminale Santé</a>, en prérentrée au mois d'août et lors du mois de septembre) montrent des difficultés dès le début de l'année.
                </p>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 20%; ">
            <img style="width: 100%" src="{{ asset('/img/png/planning2.png') }}" alt="" title="">
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <p>
                    Enfin, <a href="#resultatSpZero"><strong>les résultats</strong> obtenus</a> ces dernières années (présentés ci-dessous) prouvent que la S'P Zéro peut être une stratégie efficace. L'absence de redoublement va confirmer cette tendance. Pour preuve, au concours 2019, ce sont 6 étudiants qui ont eu le concours de médecine après une SP'Zéro, dont un étudiant (Guilhem) venant d'un Bac ES (top 20 au concours) et un étudiant venant d'un bac pro paysagiste (Joris). <strong>Ces résultats sont vérifiables sur demande avec les contrats de scolarité des étudiants passés par la S'P Zéro</strong>.
                </p>
                <p>
                    Avec la <a href="{{ path('resultats') }}">Terminale Santé</a>, la <a href="{{ path('formations', {'nomFormation':'sp-zero'}) }}">S'P Zéro</a>, et <a href="{{ path('formations', {'nomFormation':'prepa-pass'}) }}">notre suivi en PASS</a>, nous disposons de tous les atouts pour proposer les meilleures stratégies possibles pour viser la filière de son choix.
                </p>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 20%; font-size: 18px">
            <div style="display: flex">
                <div class="flexOne">
                    <div style="background-color: var(--spZero-color); color: white; border-radius: var(--radiusB); margin: 0 5% 0 0; padding: 8% 2%; text-align: center; text-transform: uppercase;">
                        Les objectifs
                    </div>
                </div>
                <div class="flexFive">
                    <ul style="margin: 0 auto 2% auto; text-align: justify">
                        <li>Faire la transition en terme de rythme entre la terminale et le PASS ;</li>
                        <li>Acquérir des méthodes de travail efficaces ;</li>
                        <li>Travailler spécifiquement et avec une intensité appropriée les cours de le PASS ;</li>
                        <li>Permettre aux étudiants d'arriver plus solide et avec plus de maturité lors de l'entrée en PASS.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 20%; font-size: 18px">
            <div style="display: flex">
                <div class="flexOne">
                    <div style="background-color: var(--spZero-color); color: white; border-radius: var(--radiusB); margin: 0 5% 0 0; padding: 8% 2%; text-align: center; text-transform: uppercase;">
                        Pour qui ?
                    </div>
                </div>
                <div class="flexFive">
                    <ul style="margin: 0 auto 1% auto; text-align: justify">
                        <li>Pour les nouveaux bacheliers souhaitant intégrer le PASS, et qui ont besoin de consolider leurs bases et/ou de gagner en maturité et en méthode de travail ;</li>
                        <li>Pour les étudiants en difficulté après le stage de prérentrée, et pendant les examens de septembre. Il est en effet possible de se déinscrire de la fac avant la fin du mois d'octobre sans que cela compte comme une tentative pour entrer en 2e année ;</li>
                        <li>Pour les étudiants en réorientarion et qui ont besoin de reprendre le rythme des études.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 30px; color: var(--blue-color)">
            <h2>L'organisation de l'année</h2>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <p>
                    <strong>L'année S'P Zéro comporte actuellement environ 650 heures de préparation et se déroulera en 2 phases : </strong>
                </p>
                <ul>
                    <li>Un premier semestre de 12 semaines de cours se déroulant de fin Septembre à mi-janvier ;</li>
                    <li>Un second semestre de 14 semaines de cours de fin Janvier à début Juin.</li>
                </ul>
                Les vacances scolaires seront d'une semaine à la Toussaint, 2 semaines à Noël, 2 semaines en hiver et 2 semaines à Pâques sur le calendrier de l'académie de Montpellier.
                <br>Il est possible que cette organisation soit légèrement modifiée pour coller au mieux aux exigences du PASS, qui va se mettre en place à la rentrée 2020.

                <p>
                    Une semaine de cours se décompose en une vingtaine d'heures de cours, TD et contrôles hebdomadaires. En outre, sur l'année, sont organisés :
                </p>
                <ul>
                    <li>4 concours blancs ;</li>
                    <li>2 conseils de classe réunissant tous les professeurs ;</li>
                    <li>2 bilans annuels individuels avec un responsable pédagogique.</li>
                </ul>

                <strong>Il est à noter que : </strong>
                <ul>
                    <li>Christophe Cuffy, enseignant de mathématiques, est le référent des élèves de S'P Zéro et fera le lien avec les parents ; </li>
                    <li>Les professeurs intervenant en S'P Zéro sont également les professeurs de PASS de Sup'Perform ;</li>
                    <li>Une salle de cours est en permanence disponible pour les étudiants qui souhaitent y travailler en dehors des heures de cours et d'étude ;</li>
                    <li>Tout comme en première anné à la faculté, un volume important de travail personnel est demandé d'une séance sur l'autre. Le rythme est cependant adapté pour permettre une transition sereine entre la terminale et le PASS ; </li>
                    <li>Des séances de méthodologie spécifiques (notamment avec les rencontres tutorées) viennent compléter le programme.</li>
                </ul>
                <p id="resultatSpZero">Afin d'encadrer au mieux nos étudiants, le nombre d'étudiants par classe est limité à 20.</p>
            </div>
        </div>
    </div>
    <div style="padding: 1% 0; background-color: var(--spZero-color-o)">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <div style="font-size: 30px; color: var(--spZero-color)">
                <h2>Les résultats</h2>
            </div>
        </div>
        <div>
            <div style="margin: 0 15%; font-size: 18px">
                <div style="text-align: center">
                    <p>
                    <strong>Voici le nombre d'étudiants ayant eu un concours après être passés par notre S'P Zéro : </strong>
                    </p>
                </div>
                <div style="text-align: justify">
                    <div style="display: flex; margin: 1% 0">
                        <div style="padding-right: 1%">2019-2020 : </div>
                        <div>
                            <div><strong>Médecine : 11 reçus</strong> - Odontologie : 4 reçus - Kiné : 2 reçus - Sage-femme : 1 reçu - Pharma : 8 reçus - Polytech : 2 reçus.</div>
                            <div><strong>Soit 28 étudiants ayant eu un concours en 2020 en étant passés par une S'P Zéro !</strong></div>
                        </div>
                    </div>
                    <div style="display: flex; margin: 1% 0">
                        <div style="padding-right: 1%">2018-2019 : </div>
                        <div>
                            <div>Médecine : 6 reçus - Odontologie : 3 reçus - Kiné : 9 reçus - Sage-femme : 3 reçus - Pharma : 4 reçus - Ergo : 2 reçus.</div>
                            <div><strong>Soit 27 étudiants ayant eu un concours en 2019 en étant passés par une S'P Zéro !</strong></div>
                        </div>
                    </div>
                    <div style="display: flex; margin: 1% 0">
                        <div style="padding-right: 1%">2017-2018 : </div>
                        <div>
                            <div>Médecine : 2 reçus - Sage-femme : 2 reçus - Kiné : 1 reçu -  Pharma : 5 reçus - Polytech : 1 reçu - Ergo : 1 reçu.</div>
                        </div>
                    </div>
                    <div style="display: flex; margin: 1% 0">
                        <div style="padding-right: 1%">2016-2017 : </div>
                        <div>
                            <div>Médecine : 6 reçus - Sage-femme : 1 reçu - Kiné : 3 reçus -  Pharma : 7 reçus - Polytech : 1 reçu.</div>
                        </div>
                    </div>
                    <div style="display: flex; margin: 1% 0">
                        <div style="padding-right: 1%">2015-2016 : </div>
                        <div>
                            <div>Médecine : 2 reçus - Dentaire : 1 reçu - Sage-femme : 1 reçu - Kiné : 1 reçu - Pharma : 7 reçus.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding: 1% 0">
        <div style="font-size: 30px; color: var(--blue-color)">
            <h2>Quel statut pendant votre année S'P Zéro ?</h2>
        </div>
    </div>
    <div style="padding: 1% 0">
        <div style="margin: 0 15%; font-size: 18px">
            <div style="text-align: justify">
                <p>
                    Comme pour toutes les formations au niveau Baccalauréat, les étudiants suivant l'année S'P Zéro ne seront pas inscrits en faculté. S'ils souhaitent bénéficier du statut d'étudiant, ils devront prévoir de s'inscrire dans une autre université.
                </p>
            </div>
        </div>
    </div>
    {% include 'formations/contact.html.twig' %}
{% endblock %}