<footer id="footerView">
    <div class="footerBalise">
        <div style="height: 2em"></div>
        {# <div class="footerSection">
            <div><h2>Formations</h2></div>
            <div><a href="{{ path('index') }}"><h3>Première Santé</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Terminale Santé</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Année S'P Zéro</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Prépa PASS</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Prépa L.AS</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Toutes nos formations</h3></a></div>
        </div>
        <div class="footerSection">
            <div><h2>L'entreprise</h2></div>
            <div><a href="{{ path('index') }}"><h3>L'équipe</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Les locaux</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Contact</h3></a></div>
        </div>
        <div class="footerSection">
            <div><h2>A propos</h2></div>
            <div><a href="{{ path('index') }}"><h3>Aide & Infos</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Blog</h3></a></div>
            <div><a href="{{ path('index') }}"><h3>Actualités</h3></a></div>
        </div>#}
    </div>
</footer>